
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body {
  background-color: #dbdabc;
  font-family: 'The Seasons';  
}
.App {
  /* background-color: #dbdabc; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #333329;
}

.App-link {
  color: #306D8B;
}
